.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@font-face {
	font-family: SpaceMono-Regular;
	src: url(./Assets/Fonts/Space_Mono/SpaceMono-Regular.ttf)		
}

@font-face {
	font-family: SpaceMono-Bold;
	src: url(./Assets/Fonts/Space_Mono/SpaceMono-Bold.ttf)		
}


.arrow-left {
	  transform: rotate(180deg);
}

p, .article-month-year, .article-number {
	font-family: SpaceMono-Regular;
}


h1, .article-day {
	font-family: SpaceMono-Bold;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
