@font-face {
	font-family: SpaceMono-Regular;
	src: url(./Assets/Fonts/Space_Mono/SpaceMono-Regular.ttf)
}

@font-face {
	font-family: SpaceMono-Bold;
	src: url(./Assets/Fonts/Space_Mono/SpaceMono-Bold.ttf)
}

body,
html,
.App {
	font-family: SpaceMono-Regular;
}

.arrow-left {
	transform: rotate(180deg);
}

p,
.article-month-year {
	font-size: 1.2em;
}

h1,
.article-day {}

.App {
	margin: 18px 0 20px 20px;
	min-width: 350px;
}

.journal-section {
	width: 80%;
	margin: 0 auto;
	max-width: 265px;
}


/* Date & Image Container */

.date-image-nav-container {
	position: relative;
	height: auto;
	margin-bottom: 20px;
}

.date-image-nav-container img {
	object-fit: cover;
	height: 475px;
	width: 265px;
	object-position: 50% 0;
}


/* Date Container */

.date-container {
	position: absolute;
	right: 155px;
	top: 70px;
	width: 200px;
	height: 80px;
	text-align: right;
	transform: rotate(-90deg);
}

.article-day {
	font-size: 3.6em;
}

.article-month-year {
	font-size: 1em;
	position: relative;
	top: -30px;
}

.text-container a {
	text-decoration: none;
	color: red;
}

.navigate-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.view-all-button {
	display: none;
}

.buttons-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

button {
	background-color: white;
	border: none;
}


/* Add design to min-width 600px */

@media screen and (min-width: 600px) {
	.journal-section {
		width: 90%;
		margin: 30px;
		max-width: none;
	}
	.article-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 590px;
		margin: 0 auto;
	}
	.date-image-nav-container {
		position: relative;
		height: auto;
		margin-bottom: 0px;
	}
	.date-image-nav-container img {
		object-fit: cover;
		height: 475px;
		width: 265px;
		object-position: 50% 0;
	}
	.date-container {
		left: -120px;
		top: 100px;
		width: auto;
	}
	.buttons-container {
		column-gap: 0px;
	}
	button {
		padding: 0px;
	}
}


/* Add design to the desk top */

@media screen and (min-width: 900px) {
	.App {
		margin: 70px auto;
		max-width: 1100px;
	}
	.journal-section {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}
	.article-container {
		grid-template-columns: repeat(5, 1fr);
		max-width: none;
	}
	.date-image-nav-container {
		position: relative;
		height: 475px;
		margin-bottom: 20px;
		grid-column: 1/4;
		width: 100%;
	}
	.text-container {
		grid-column: 4/6;
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	h1,
	.text-container p {
		padding: 0;
		margin: 0;
	}
	p {
		font-size: 1em;
	}
	.date-image-nav-container img {
		object-fit: cover;
		height: auto;
		width: 100%;
		object-position: 0 0;
	}
	.navigate-container {
		margin-top: 20px;
		grid-template-columns: 1fr 2fr 2fr 2fr;
		width: 100%;
	}
	.article-number {
		grid-column: 2/3;
		padding-left: 10px;
	}
	.view-all-button {
		display: block;
		text-align: center;
		grid-column: 3/4;
	}
	.buttons-container {
		grid-column: 4/5;
		column-gap: 20px;
	}
	.date-image-container {
		display: grid;
		grid-template-columns: repeat(7, 1fr)
	}
	.date-container {
		position: relative;
		left: 0;
		right: 0;
		top: 10px;
		width: auto;
		height: 80px;
		text-align: right;
		transform: rotate(-90deg);
		grid-column: 1/2;
		margin: 0;
		padding: 0;
	}
	.buttons-container {
		column-gap: 0px;
	}
	.date-image-container img {
		grid-column: 2/8;
	}
	.article-date {
		margin: 0 !important;
		padding: 0 !important;
	}
}

@font-face {
	font-family: SpaceMono-Regular;
	src: url(./Assets/Fonts/Space_Mono/SpaceMono-Regular.ttf)
}

@font-face {
	font-family: SpaceMono-Bold;
	src: url(./Assets/Fonts/Space_Mono/SpaceMono-Bold.ttf)
}

body,
html,
.App {
	font-family: SpaceMono-Regular;
}

.arrow-left {
	transform: rotate(180deg);
}

p,
.article-month-year {
	font-size: 1.2em;
}

h1,
.article-day {}

.App {
	margin: 18px 0 20px 20px;
	min-width: 350px;
}

.journal-section {
	width: 80%;
	margin: 0 auto;
	max-width: 265px;
}


/* Date & Image Container */

.date-image-nav-container {
	position: relative;
	height: auto;
	margin-bottom: 20px;
}

.date-image-nav-container img {
	object-fit: cover;
	height: 475px;
	width: 265px;
	object-position: 50% 0;
}


/* Date Container */

.date-container {
	position: absolute;
	right: 155px;
	top: 70px;
	width: 200px;
	height: 80px;
	text-align: right;
	transform: rotate(-90deg);
}

.article-day {
	font-size: 3.6em;
}

.article-month-year {
	font-size: 1em;
	position: relative;
	top: -30px;
}

.text-container a {
	text-decoration: none;
	color: red;
}

.navigate-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.view-all-button {
	display: none;
}

.buttons-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

button {
	background-color: white;
	border: none;
}


/* Add design to min-width 600px */

@media screen and (min-width: 600px) {
	.journal-section {
		width: 90%;
		margin: 30px;
		max-width: none;
	}
	.article-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 590px;
		margin: 0 auto;
	}
	.date-image-nav-container {
		position: relative;
		height: auto;
		margin-bottom: 0px;
	}
	.date-image-nav-container img {
		object-fit: cover;
		height: 475px;
		width: 265px;
		object-position: 50% 0;
	}
	.date-container {
		left: -120px;
		top: 100px;
		width: auto;
	}
	.buttons-container {
		column-gap: 0px;
	}
	button {
		padding: 0px;
	}
}


/* Add design to the desk top */

@media screen and (min-width: 900px) {
	.App {
		margin: 70px auto;
		max-width: 1100px;
	}
	.journal-section {
		width: 100%;
		margin: 0 auto;
		max-width: 100%;
	}
	.article-container {
		grid-template-columns: repeat(5, 1fr);
		max-width: none;
	}
	.date-image-nav-container {
		position: relative;
		height: 475px;
		margin-bottom: 20px;
		grid-column: 1/4;
		width: 100%;
	}
	.text-container {
		grid-column: 4/6;
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	h1,
	.text-container p {
		padding: 0;
		margin: 0;
	}
	p {
		font-size: 1em;
	}
	.date-image-nav-container img {
		object-fit: cover;
		height: auto;
		width: 100%;
		object-position: 0 0;
	}
	.navigate-container {
		margin-top: 20px;
		grid-template-columns: 1fr 2fr 2fr 2fr;
		width: 100%;
	}
	.article-number {
		grid-column: 2/3;
		padding-left: 10px;
	}
	.view-all-button {
		display: block;
		text-align: center;
		grid-column: 3/4;
	}
	.buttons-container {
		grid-column: 4/5;
		column-gap: 20px;
	}
	.date-image-container {
		display: grid;
		grid-template-columns: repeat(7, 1fr)
	}
	.date-container {
		position: relative;
		left: 0;
		right: 0;
		top: 10px;
		width: auto;
		height: 80px;
		text-align: right;
		transform: rotate(-90deg);
		grid-column: 1/2;
		margin: 0;
		padding: 0;
	}
	.buttons-container {
		column-gap: 0px;
	}
	.date-image-container img {
		grid-column: 2/8;
	}
	.article-date {
		margin: 0 !important;
		padding: 0 !important;
	}
}